.env
venv
backend\__pycache__
backend\app\analyzers\__pycache__
backend\app\database\__pycache__
backend\app\models\__pycache__
backend\app\routers\__pycache__
backend\app\schemas\__pycache__
backend\uploads